part1/node_modules/
part1/anecdotes/node_modules/
part1/courseinfo/node_modules/
part1/part-d/node_modules/
part1/unicafe/node_modules/
part2/node_modules/
part2/courseinfo/node_modules/
part2/phonebook/node_modules/
part2/countries/node_modules/
part2/exchangerate-api/node_modules/
part3/phonebook-backend/
part3/notes-backend/
