h1 {
  color: green;
  /* font-style: italic; */
}

.note {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

.error {
  color: rgb(243, 217, 192);
  background: lightgrey;
  font-size: 1rem;
  border-style: solid;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 10px;
}